/* @theme ljs */

@import "default";

section {
	width: 1920px;
	height: 1080px;
	padding-right: 40px;
	padding-left: 40px;
	background-image: url(../css/ljs.png);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: right 15px;
	font-size: 2.0rem;
}

header {
	width: 85%;
	padding: 1px;
	color: #e60044;
	background: linear-gradient(to right, #e60044, white);
	top: 50px;
}

footer {
	width: 100%;
	/* background: linear-gradient(to right, #04ac75, white); */
	background: #f08300;
	color: black;
	text-align: left;
	padding: 15px;
	font-style: oblique;
}

h1 {
	font-size: 3.5rem !important;
}

h2 {
	font-size: 2.2rem !important;
}

img[src*='#center'] { 
    display: block;
    margin: auto;
}

img { 
    display: inline-block;
    margin: auto;
}

table {margin-left: auto;margin-right: auto;table-layout: fixed;width: 90%;display:table;}
thead th {text-align: center !important;}
thead tr {background: #eaeaea;}
tbody tr:nth-child(2n+1) {background: #fff;}
tbody tr:nth-child(2n) {background: #dde5d3;}
